<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::div})}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="banner d-flex justify-content-center align-items-center">
		<div>
			<div class="text-center">
				<h1 class="font-weight-bold">Smart Contact Manager</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Blanditiis sapiente laudantium doloribus. Beatae, quo voluptatibus!</p>

				<button class="btn btn-primary btn-lg"
					onclick="window.location.href = '../login';">Let's Start</button>
			</div>
		</div>
</body>
</html>